.about-us {
  margin-bottom: 55px;

  .about-us__title {
    margin-bottom: 30px;
  }

  .about-us__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  .about-us__item {
    position: relative;
    width: 250px;
    padding-top: 55px;
    margin-bottom: 28px;

    @include font(17px, 20px, 700, $black);
  }

  .about-us__item:last-child {
    margin-bottom: 0;
  }

  .about-us__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    width: 55px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .about-us__item--flower {
    order: 1;
  }

  .about-us__item--flower::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  .about-us__item--ball {
    order: 4;
  }

  .about-us__item--ball::before {
    top: 2px;
    left: 2px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  .about-us__item--ruble {
    order: 2;
  }

  .about-us__item--ruble::before {
    top: 0;
    left: 0;
    background-image: url("../img/icon-feature-money.svg");
    background-size: 47px 27px;
  }

  .about-us__item--rocket {
    order: 5;
  }

  .about-us__item--rocket::before {
    top: 4px;
    left: -5px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  .about-us__item--heart {
    order: 3;
  }

  .about-us__item--heart::before {
    top: 5px;
    left: 5px;
    background-image: url("../img/icon-feature-heart.svg");
    background-size: 44px 27px;
  }

  .about-us__item--present {
    order: 6;
  }

  .about-us__item--present::before {
    top: 2px;
    left: 2px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: 768px) {
  .about-us {
    margin-bottom: 25px;

    .about-us__title {
      margin-bottom: 47px;
    }

    .about-us__list {
      flex-direction: row;
      flex-wrap: wrap;
    }


    .about-us__item {
      width: 300px;
      margin-bottom: 57px;
      font-size: 20px;
      line-height: 22px;
    }

    .about-us__item:nth-child(2n+1) {
      margin-right: 34px;
    }

    .about-us__item:last-child {
      margin-bottom: 54px;
    }

    .about-us__item--flower {
      order: 1;
    }

    .about-us__item--ball {
      order: 2;
    }

    .about-us__item--ruble {
      order: 3;
    }

    .about-us__item--rocket {
      order: 4;
    }

    .about-us__item--heart {
      order: 5;
    }

    .about-us__item--present {
      order: 6;
    }
  }
}

@media (min-width: 1150px) {
  .about-us {
    .container {
      padding-left: 227px;
    }

    .about-us__title {
      margin-left: -5px;
    }

    .about-us__item:nth-child(2n+1) {
      margin-right: 50px;
    }
  }
}
