.button {
  font-family: inherit;

  @include font(17px, 20px, 700, $dark);

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: 2px solid $dark;
  background: none;
}
