.button {
  display: block;
  padding-left: 85px;
  padding-right: 85px;
  // width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: inherit;

  @include font(17px, 20px, 700, $dark);

  text-align: center;
  text-transform: uppercase;

  border: 2px solid $dark;
  background: none;

  transition-duration: 0.5s;
}

.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3)
}


@media (min-width: 1150px) {

  .button:hover,
  .button:focus {
    background-color: #444444;
    color: #ffffff;
  }

  .button:active {
    color: rgba(255, 255, 255, 0.3)
  }
}
