.categories {
  min-width: 320px;

  .categories__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .categories__link {
    position: relative;
    display: block;
    padding-top: 27px;
    padding-bottom: 33px;
  }

  .categories__link::before {
    content: "";
    position: absolute;
  }

  .categories__link--interior {
    background-color: $blue;
  }

  .categories__link--interior::before {
    width: 40px;
    height: 62px;
    top: 23px;
    right: 40px;
    background-image: url("../img/icon-interior.svg");
  }

  .categories__link--toys {
    background-color: #56c3b2;
  }

  .categories__link--toys::before {
    width: 60px;
    height: 60px;
    top: 27px;
    right: 30px;
    background-image: url("../img/icon-toy.svg");
  }

  .categories__text {
    display: block;
    width: 130px;

    @include font(19px, 24px, 700, #ffffff);
  }
}

@media (min-width: 768px) {
  .categories {
    background-color: #f9f9f9;

    .categories__list {
      width: 668px;
      margin: 0 auto;
      display: flex;
      background-color: red;
    }

    .container {
      width: auto;
      margin: 0;
      padding: 0;
    }

    .categories__link {
      width: 334px;
    }

    .categories__text {
      padding-left: 35px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: 1150px) {
  .categories {
    .categories__list {
      width: 1050px;
    }

    .categories__link {
      width: 525px;
    }
  }
}
