.categories {
  .categories__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .categories__item {
    padding-top: 27px;
    padding-bottom: 33px;
  }

  .categories__item--interior {
    background-color: $blue;
  }

  .categories__item--toys {
    background-color: #56c3b2;
  }

  .categories__link {
    display: block;
    width: 320px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;

    @include font(19px, 24px, 700, #ffffff);
  }

  .categories__text {
    display: block;
    width: 150px;
  }
}

@media (min-width: 768px) {
  .categories {
    margin-bottom: 50px;
    background-color: #fafafa;

    .categories__list {
      width: 668px;
      margin: 0 auto;
      display: flex;
    }

    .categories__link {
      width: 334px;
      margin: 0;
      padding-right: 0;
      padding-left: 35px;
    }
  }
}

@media (min-width: 1150px) {
  .categories {
    .categories__list {
      width: 1050px;
    }

    .categories__link {
      width: 525px;
    }
  }
}
