.order {
  padding-top: 21px;
  padding-bottom: 55px;

  .order__item {
    border: none;
    padding: 0;
    margin-bottom: 10px;
  }

  .order__item:last-child {
    margin-bottom: 0;
  }

  .order__caption {
    margin-bottom: 23px;
    font-size: 13px;
  }

  .order__item-title {
    position: relative;
    display: block;
    margin-bottom: 18px;

    @include font(17px, 17px, 700, $blue);
    text-transform: uppercase;
  }

  .order__item-title::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
  }

  .order__label {
    display: block;
    margin-bottom: 22px;

    @include font(17px, 18px, 700, $black);
  }

  .order__label--type,
  .order__label--color {
    position: relative;
    display: flex;
    // align-items: baseline;
    // min-height: 50px;
    // padding-left: 62px;
    margin-bottom: 12px;
  }

  .order__label--type {
    width: 270px;
  }

  .order__label--color {
    width: 240px;
  }

  .order__label-text {
    padding-top: 10px;
  }

  .order__label--type::before,
  .order__label--color::before {
    content: "";
    flex-shrink: 0;
    display: block;
    // position: absolute;
    // top: 8px;
    // left: 0;
    width: 40px;
    height: 40px;
    margin-right: 62px;
    border: 2px solid #444444;
    border-radius: 50%;
  }

  .order__label--color::before {
    border-radius: 0;
  }

  .order__input--type:checked + .order__label--type::after {
    content: "";
    position: absolute;
    display: block;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba;
  }

  .order__input--color:checked + .order__label--color::after {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    width: 33px;
    height: 22px;
    background: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px;
  }

  .order__combiner--fio {
    width: 100%;
  }

  .order__label--fio {
    padding-left: 0;
    margin-bottom: 0;
  }

  .order-wrapper--tel,
  .order-wrapper--email {
    // display: flex;
    // align-items: center;
    width: 100%;
    position: relative;
    // border-bottom: 2px solid #000000;
    margin-bottom: 40px;
  }

  .order__icon {
    position: absolute;
    top: 10px;
    right: 0;
  }

  .order__input {
    margin-bottom: 40px;
    padding-bottom: 12px;
    padding-top: 14px;
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    background: none;
    outline: 0;
  }

  .order__input--fio {
    width: 100%;
  }

  .order__input::placeholder {
    opacity: 0.3;
  }

  .order__input--extra {
    width: 100%;
    min-height: 142px;
    margin-bottom: 10px;
    padding: 10px;
    font: inherit;
    border: 2px solid #000000;
  }

  .order__input--tel,
  .order__input--email {
    width: 100%;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 19px;
    // border-bottom: none;
  }

  .order__description {
    display: block;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 16px;
  }

  .order__submit-button {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.order__input {
  border: none;
  border-bottom: 2px solid #000000;
}

.order__icon {
  opacity: 0.2;
}

.order__input:focus + .order__icon {
  opacity: 1;
  color: #62d1ba;
}

.order__input:focus {
  border-color: #62d1ba;
}

.order__label--type::before,
.order__label--color::before {
  border: 2px solid #444444;
}

.order__label--type:active::before,
.order__label--color:active::before {
  border-color: rgba(68, 68, 68, 0.3);
}

@media (min-width: 768px) {
  .order {
    padding-top: 70px;
    padding-bottom: 50px;

    .order__item {
      margin-bottom: 0;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .order__item:last-child {
      padding-bottom: 0;
    }

    .order__item--color,
    .order__item--tel-email {
      background-color: #f1f1f1;
    }

    .order__wrapper {
      display: flex;
      // align-items: baseline;
    }

    .order-wrapper--tel,
    .order-wrapper--email {
      display: block;
      width: 100%;
    }

    .order__wrapper--bottom {
      align-items: baseline;
    }

    .order__combiner--color {
      display: flex;
      flex-wrap: wrap;
    }

    .order__caption {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 53px;
    }

    .order__item-title {
      flex-shrink: 0;
      width: 70px;
      margin-bottom: 0;
      margin-right: 130px;
      padding-top: 15px;
    }

    // .order__item-title--type {
    //   margin-right: 110px;
    // }

    // .order__item-title--color {
    //   margin-right: 134px;
    // }

    .order__item-title::before {
      display: none;
    }

    .order__label {
      margin-bottom: 24px;
      font-size: 19px;
      line-height: 19px;
    }

    .order__label-text {
      padding-top: 15px;
    }

    // .order__label--type,
    // .order__label--color {
    //   min-height: 64px;
    // }

    .order__label--color {
      width: 200px;
    }

    .order__label--color:nth-of-type(2n+1) {
      margin-right: 65px;
    }

    .order__label--type::before,
    .order__label--color::before {
      width: 48px;
      height: 48px;
      margin-right: 26px;
    }

    .order__input--type:checked + .order__label--type::after {
      top: 13px;
      left: 13px;
      width: 22px;
      height: 22px;
    }

    .order__input--color:checked + .order__label--color::after {
      top: 13px;
      left: 11px;
      background-size: 33px 22px;
    }

    .order__label--fio {
      display: flex;
      align-items: baseline;
      width: auto;
      padding-left: 0;
      margin-bottom: 0;
    }

    .order__input {
      margin-bottom: 30px;
      font-size: 19px;
      line-height: 19px;
    }

    .order__input--tel,
    .order__input--email {
      margin-bottom: 0;
      width: 100%;
    }

    .order__input--fio {
      width: 100%;
      margin-left: 26px;
    }

    .order__input--extra {
      margin-bottom: 53px;
    }

    .order__submit-button {
      margin-right: 136px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .order__description {
      order: 1;
      margin-bottom: 0;
      font-size: 17px;
      line-height: 30px;
    }
  }
}

@media (min-width: 1150px) {
  .order {
    padding-top: 119px;

    .container {
      padding-left: 111px;
      padding-right: 197px;
    }

    .container--color {
      padding-right: 50px;
    }

    .order__caption {
      padding-left: 190px;
    }

    .order__item-title {
      margin-right: 76px;
    }

    .order__label--color:nth-of-type(2n+1) {
      margin-right: 97px;
    }

    .order__label--color:nth-of-type(3n) {
      margin-right: 0;
    }

    .order__label--color {
      width: 200px;
      margin-right: 97px;
    }

    .order__input--extra {
      margin-bottom: 49px;
    }

    .order__submit-button {
      margin-left: 139px;
      margin-right: 44px;
    }
  }

  .order__label--type:hover::before,
  .order__label--color:hover::before,
  .order__label--type:focus::before,
  .order__label--color:focus::before {
    border-color: #62d1ba;
  }

  .order__label--type:active::before,
  .order__label--color:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }

  .order__input:hover,
  .order__input:focus {
    border-color: #62d1ba;
  }

  .order__input:active {
    border-color: #62d1ba;
  }

  .order__input--type:focus + .order__label--type::before,
  .order__input--color:focus + .order__label--color::before {
    border-color: #62d1ba;
  }
}
