.order {
  .order__item {
    border: none;
    padding: 0;
  }

  .order__caption {
    font-size: 13px;
  }

  .order__item-title {
    @include font(17px, 17px, 700, #63d1bb);
    text-transform: uppercase;
  }

  .order__label {
    @include font(17px, 18px, 700, #000000);
  }

  .order__input {
    font-size: 17px;
    line-height: 18px;
  }

  .order__input--tel {
    font-size: 19px;
    line-height: 19px;
  }

  .order__description {
    font-size: 14px;
    line-height: 16px;
  }
}
