.page-footer {
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #f1f1f1;

  .page-footer__develop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include font(19px, 19px, 700, $black);
  }

  .page-footer__develop-title {
    order: -1;
    margin-right: 20px;
  }

  .page-footer__logo {
    display: none;
  }
}

.page-footer__develop-link:active,
.page-footer__develop-link:active + .page-footer__develop-title {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .page-footer {
    .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .page-footer__logo {
      display: block;
      margin-right: 154px;
    }

    .page-footer__social {
      margin-right: 91px;
    }
  }

  .page-footer__logo--not-index:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: 1150px) {
  .page-footer {
    .page-footer__logo {
      margin-right: 343px;
    }

    .page-footer__social {
      margin-right: 284px;
    }
  }

  .page-footer__logo--not-index:hover,
  .page-footer__logo--not-index:focus {
    fill: #46c1ae;
  }

  .page-footer__logo--not-index:active {
    opacity: 0.3;
  }
}
