.page-footer {
  padding-top: 25px;
  padding-bottom: 2px;
  background-color: #f1f1f1;

  .page-footer__social {
    margin: 0 auto;
  }

  .page-footer__develop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 38px;

    @include font(19px, 19px, 700, $black);
  }

  .page-footer__develop-title {
    order: -1;
    margin-right: 30px;
  }

  .page-footer__logo {
    display: none;
  }
}

.page-footer__develop-link:active,
.page-footer__develop-link:active + .page-footer__develop-title {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .page-footer {
    padding-top: 32px;
    padding-bottom: 40px;

    .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .page-footer__logo {
      display: block;
      margin-right: 158px;
    }

    .page-footer__social {
      margin: 0;
      margin-right: 78px;
    }

    .page-footer__develop {
      padding-left: 0;
    }
  }
}

@media (min-width: 1150px) {
  .page-footer {
    .page-footer__logo {
      margin-right: 350px;
    }

    .page-footer__social {
      margin-right: 268px;
    }
  }
}
