.popular-product {
  position: relative;
  padding-top: 25px;
  padding-bottom: 40px;
  margin-bottom: 30px;

  .popular-product__title {
    margin-bottom: 5px;
  }

  .popular-product__category {
    display: block;
    margin-bottom: 24px;

    @include font(17px, 20px, 700, $blue);
    text-transform: uppercase;
  }

  .popular-product__description {
    margin: 0;
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;
  }

  table,
  tr,
  td {
    margin: 0;
    padding: 0;
  }

  .popular-product__characteristics {
    width: 100%;
    margin-bottom: 30px;
  }

  .popular-product__characteristic {
    display: block;
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom: 1px solid #ececec;
  }

  .popular-product__property {
    min-width: 97px;
  }

  .popular-product__image {
    width: 260px;
    height: 315px;
    margin-bottom: 17px;
  }

  .popular-product__price {
    display: block;
    margin-left: 70px;
    margin-bottom: 25px;

    @include font(17px, 24px, 700, $dark);
  }
}

.popular-product::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
  background-position: -7px 0;
}

@media (min-width: 768px) {
  .popular-product {
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 50px;

    .container {
      position: relative;
    }

    .popular-product__wrapper {
      display: flex;
    }

    .popular-product__wrapper--title {
      align-items: center;
      margin-bottom: 50px;
    }

    .popular-product__combiner {
      width: 291px;
      margin-right: auto;
    }

    .popular-product__title {
      margin-bottom: 0;
      margin-right: auto;
    }

    .popular-product__description {
      margin-bottom: 34px;
      font-size: 17px;
      line-height: 30px;
    }

    .popular-product__category {
      margin-bottom: 0;
      margin-right: 27px;
      width: 70px;
      text-align: center;
    }

    .popular-product__price,
    .popular-product__order-button {
      position: absolute;
    }

    .popular-product__price {
      bottom: 104px;
      left: 120px;
      margin-left: 0;
      margin-bottom: 0;
      font-size: 20px;
    }

    .popular-product__order-button {
      bottom: 17px;
      left: 49px;
      padding-left: 99px;
      padding-right: 99px;
    }

    .popular-product__image {
      width: 333px;
      height: 404px;
    }
  }

  .popular-product::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 24px;
  }

  .popular-product::after {
    height: 15px;
    background-size: auto 15px;
  }
}

@media (min-width: 1150px) {
  .popular-product {
    padding-bottom: 75px;
    padding-top: 73px;
    margin-bottom: 60px;

    .popular-product__wrapper--title {
      position: absolute;
      left: 95px;
      top: 53px;
    }

    .popular-product__title {
      font-size: 53px;
      line-height: 57px;
    }

    .popular-product__category {
      order: -1;
      margin-right: 53px;
    }

    .popular-product__combiner {
      margin-right: 60px;
      padding-top: 158px;
    }

    .popular-product__characteristic {
      padding-bottom: 9px;
    }

    .popular-product__description {
      margin-bottom: 50px;
    }

    .popular-product__wrapper--img {
      justify-content: flex-end;
    }

    .popular-product__price {
      bottom: 108px;
      left: 297px;
      margin-left: 0;
      margin-bottom: 0;
      font-size: 20px;
    }

    .popular-product__order-button {
      bottom: 20px;
      left: 225px;
    }

    .popular-product__image {
      width: 525px;
      height: 636px;
    }
  }

  .popular-product::before {
    top: -17px;
    height: 34px;
    background-size: 1150px 34px;
  }

  .popular-product::after {
    height: 23px;
    background-size: auto 23px;
  }
}
