.product {
  padding-bottom: 28px;
  border: 1px solid #ececec;

  .product__title {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;

    @include font(17px, 24px, 700, $black);
  }

  .product__wrapper {
    padding-top: 15px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .product__image-link {
    display: block;
    padding: 0;
    margin-bottom: 5px;
  }

  .product__description {
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 30px;
  }

  .product__group--bottom {
    display: flex;
    align-items: baseline;
    border-top: 1px solid #ececec;
  }

  .product__price {
    display: block;
    padding-top: 20px;
    margin-right: auto;

    @include font(15px, 24px, 700, $black);
  }

  .product__cart-button {
    display: block;
    width: 21px;
    height: 18px;
    // background-image: url("../img/icon-cart.svg");
  }

  .product__image {
    width: 260px;
    height: 195px;
  }
}

.products__item:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.product__title-link:active .product__title {
  opacity: 0.3;
}

.product__icon {
  color: rgba(35, 31, 32, 0.2);
}

.product__cart-button:active .product__icon {
  color: rgba(99, 209, 187, 0.2);
}

@media (min-width: 768px) {
  .product {
    display: flex;
    padding-bottom: 0;

    .product__image-link {
      flex-shrink: 0;
      margin-bottom: 0;
    }

    .product__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 23px;
    }

    .product__title {
      width: 240px;
      font-size: 20px;
      line-height: 24px;
    }

    .product__description {
      font-size: 15px;
    }

    .product__group--bottom {
      width: 273px;
    }

    .product__price {
      font-size: 17px;
      margin-bottom: 28px;
      padding-left: 4px;
    }

    .product__image {
      display: block;
      width: 334px;
      height: 334px;
    }
  }
}

@media (min-width: 1150px) {
  .product {
    display: block;
    padding-bottom: 25px;

    .product__description {
      margin-bottom: 0;
    }

    .product__group--top {
      margin-bottom: 39px;
    }

    .product__group--bottom {
      width: auto;
      padding-right: 5px;
    }

    .product__group--toys {
      margin-bottom: 15px;
    }

    .product__price {
      font-size: 17px;
      margin-bottom: 0;
      padding-left: 0;
    }

    .product__image {
      width: 316px;
      height: 462px;
    }
  }

  .products__item:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .products__item:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .product__title-link:hover .product__title,
  .product__title-link:focus .product__title {
    opacity: 0.6;
  }

  .product__title-link:active .product__title {
    opacity: 0.3;
  }

  .product__icon:hover,
  .product__icon:focus {
    color: #63d1bb;
  }

  .product__icon:active {
    color: rgba(35, 31, 32, 0.2);
  }

  .product__cart-button:hover .product__icon,
  .product__cart-button:focus .product__icon {
    color: #63d1bb;
  }

  .product__cart-button:active .product__icon {
    color: rgba(99, 209, 187, 0.2);
  }
}
