.reviews {
  position: relative;
  margin-bottom: 45px;
  padding-bottom: 45px;

  .reviews__title {
    margin-bottom: 20px;
  }

  .reviews__list {
    list-style: none;
    padding: 0;
  }

  .reviws__buttons-wrapper {
    display: flex;
    margin-bottom: 35px;
  }

  .reviews__button {
    position: relative;
    width: 130px;
    height: 52px;
    background: none;
    border: 1px solid #ececec;
  }

  .reviews__button::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 38px;
    width: 50px;
    height: 26px;
    background-repeat: no-repeat;
  }

  .reviews__button--left::before {
    background-image: url("../img/icon-left-arrow.svg");
  }

  .reviews__button--right::before {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.reviews::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
}

@media (min-width: 768px) {
  .reviews {
    padding-bottom: 85px;

    .container--reviews {
      padding-right: 0;
      padding-left: 0;
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: top left;
    }

    .reviews__wrapper {
      position: relative;
      min-height: 457px;
      padding-right: 50px;
      padding-left: 50px;
      padding-top: 76px;
    }

    .reviews__title {
      margin-bottom: 50px;
    }

    .reviews__write-button {
      position: absolute;
      top: 80px;
      right: 30px;
      padding-left: 41px;
      padding-right: 41px;
    }

    .reviws__buttons-wrapper {
      position: absolute;
      bottom: 40px;
      right: 50px;
    }

    .reviews__button {
      width: 50px;
      border: none;
    }

    .reviews__button--left {
      margin-right: 38px;
    }

    .reviews__button--left::before {
      left: 0;
    }

    .reviews__button--right::before {
      left: 0;
    }
  }

  .reviews::after {
    height: 15px;
    background-size: auto 15px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    margin-bottom: 71px;

    .container--reviews {
      width: 1050px;
      padding-right: 0;
      padding-left: 0;
    }

    .reviews__wrapper {
      padding-right: 0;
      padding-left: 168px;
    }
  }

  .reviews::after {
    height: 23px;
    background-size: auto 23px;
  }
}
