.section-title {
  margin: 0;

  @include font($h2-size, 30px, 700, $black);
}

@media (min-width: 768px) {
  .section-title {
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .section-title {
    margin-left: 0;
    font-size: 53px;
    line-height: 57px;
  }
}
