.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;

  list-style: none;
}

.social__item {
  margin: 0;
  padding: 0;
  margin-right: 31px;
}

.social__item:nth-child(2) {
  margin-right: 23px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
}

.social__image--tw,
.social__image--in {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .social {
    padding-bottom: 0;
    border-bottom: none;
  }
}
