.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;

  list-style: none;
}

.social__item {
  margin: 0;
  padding: 0;
  margin-right: 28px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: block;

  width: 30px;
  height: 30px;

  background-position: center;
  background-repeat: no-repeat;
}

.social__link--fb {
  background-image: url("../img/icon-fb.svg");
}

.social__link--in {
  background-image: url("../img/icon-insta.svg");
}

.social__link--tw {
  background-image: url("../img/icon-twitter.svg");
}

@media (min-width: 768px) {
  .social {
    padding-bottom: 0;
    border-bottom: none;
  }
}
