.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 145px;
  padding: 0;
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;

  list-style: none;
}

.social__item {
  margin: 0;
  padding: 0;
  margin-right: 31px;
}

.social__item:nth-child(3n+2) {
  margin-right: 23px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  color: #231f20;
}

.social__image--tw,
.social__image--in {
  margin-top: 5px;
}

.social__link:active {
  color: #46c1ae;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .social {
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (min-width: 1150px) {
  .social__link:hover,
  .social__link:focus {
    color: #46c1ae;
  }

  .social__link:active {
    opacity: 0.3;
  }
}
