.video {
  padding-top: 21px;
  padding-bottom: 33px;
  margin-bottom: 58px;
  border: 1px solid #ececec;

  .video__title {
    position: relative;
    padding-left: 91px;
    margin-bottom: 24px;
    font-size: 17px;
    line-height: 24px;

    // background: pink;
  }

  .video__title::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 34px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
  }

  .video__container {
    position: relative;
  }

  .video__container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 101px;
    height: 77px;
    background-image: url("../img/icon-play.svg");
  }

  .video__description {
    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 24px;
  }

  .video__order-button {
    margin-left: 31px;
    margin-right: 31px;
    padding-left: 26px;
    padding-right: 26px;
  }
}

@media (min-width: 768px) {
  .video {
    position: relative;
    margin-bottom: 58px;
    padding-top: 0;
    padding-bottom: 45px;

    .video__title {
      position: absolute;
      bottom: 182px;
      left: 40px;
      width: auto;
      padding-top: 50px;
      padding-left: 63px;
      font-size: 24px;
    }

    .video__title::before {
      bottom: 0;
      left: 0;
    }

    .video__combiner {
      margin-top: 98px;
    }

    .video__container {
      margin-bottom: 40px;
      background: yellowgreen;
      //временно
      height: 455px;
    }
  }
}

@media (min-width: 1150px) {
  .video {
    margin-bottom: 100px;
    padding-bottom: 0;

    .video__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .video__container {
      width: 682px;
      margin-right: 80px;
      margin-bottom: 0;
    }

    .video__combiner {
      width: 230px;
      padding-top: 175px;
      margin-top: 0;
    }

    .video__title {
      left: auto;
      bottom: auto;
      top: 45px;
      right: 140px;
      width: 148px;
      padding-left: 0;
    }

    .video__title::before {
      top: 0;
      left: 0;
    }

    .video__description {
      width: 230px;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 47px;
      font-size: 15px;
      line-height: 30px;
    }

    .video__order-button {
      width: 235px;
      margin-left: 0;
      margin-right: 0;
      padding-left: 45px;
      padding-right: 45px;
    }
  }
}
