.body {
  margin: 0;
  font-family: $font, "Arial", sans-serif;

  @include font($body-size, 24px, 400, $dark);

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }
}
